/* 
    Document   : se_styles
    Created on : Mar 19, 2013, 2:47:28 PM
    Author     : Jeremy
    Description:
        Purpose of the stylesheet follows.
*/

.root { 
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-alignment: TOP_LEFT;
}

#top-bar {
   -fx-background-image: url('../images/se-top-back.png');
   -fx-text-fill: white;
   -fx-alignment: CENTER;  
}

#bottom-bar {
   -fx-background-color: #0085B2; 
   -fx-text-fill: white;
   -fx-alignment: CENTER;  
}

.side-bar {
   -fx-background-image: url('../images/se-sidebar-back.png');
   -fx-text-fill: white;
   -fx-background-repeat: repeat-x;
   -fx-background-position: bottom;
   -fx-alignment: CENTER;  
}

.login { 
    -fx-background-color: #0085B2;
    -fx-text-fill: white;
    -fx-alignment: TOP_LEFT;
}

.greyBox { 
    -fx-background-color: #efefef;
    -fx-border: 1px solid #ccc;
    -fx-alignment: TOP_LEFT;
}

.whiteBackground {
    -fx-background-color: #fff;
    -fx-border: none;
}